.loginContainer {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.loginBox {
    background: rgba(20, 20, 20, 0.9); /* Fundo mais escuro */
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); /* Sombra mais intensa */
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(0, 0, 0, 0.7);
    padding: 30px;
    width: 420px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

input {
    width: 90%;
    max-width: 350px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.error {
    color: red;
    margin-top: 10px;
}

/* Botão estilizado */
.btnLogin {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: #ffffff;
    color: black;
    border-radius: 15px;
    border: none;
    width: 140px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.8s, color 0.8s;
    margin: 10px auto; /* Centraliza o botão */
}

.btnLogin:hover {
    background: #000000;
    color: #ffffff;
}

/* Texto dentro do botão */
.btnText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
}

/* Ícone escondido por padrão */
.btnLogin i {
    position: absolute;
    top: 200%; /* Começa fora do botão */
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
    font-size: 20px; /* Tamanho do ícone */
}

/* Quando passar o mouse, o ícone sobe */
.btnLogin:hover i {
    top: 50%;
}

/* O texto desce ao passar o mouse */
.btnLogin:hover .btnText {
    top: -200%;
}

@media (max-width: 500px) {
    .loginBox {
        width: 90%;
    }
}